<div class ="container">
  <img src="./assets/ProfilePic.jpg" alt="=/" class="profile-pic">
  <div class="sub-container">
    <h2 class="title">Preston Harms</h2>
    <h3 class="subtitle">Software Developer</h3>
  </div>
  <br/>
  <p class ="bio">
    My name is Preston Harms and I am a mid-level full stack software developer. I have experience primarily in the J2EE
    development stack, but also have personal and professional experience is any software/technology that either
    interested me, or became relevant to which ever project I was involved with at the time. My primary  focus is in back
    end development, but I do enjoy working with a complete application and am familiar with front end technologies as
    well, since I do want to be a full stack developer. Prior to becoming a software developer, I worked to become a
    math teacher for a few years After realizing that teaching was not for me and that what I really wanted to do was
    work with software, I found Revature. At Revature, I was worked through an intensive ten week program that taught me
    how to create full end to end applications utilizing the J2EE stack including Oracle SQL, Hibernate, Spring, Java,
    HTML, CSS, Javascript, and Angular. Since completing this bootcamp, I have worked on projects for large companies
    including Chase Bank and Boeing. I created this website as practice and as a resume to any potential employers. If
    you have any questions or would like to get in touch, please feel free to contact me via email by clicking on the
    gmail icon above.
  </p>
</div>
