.container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.sub-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 10%;
  height: fit-content;
}
.profile-pic{
  width: 20%;
  height: 20%;
  padding: 2em;
  border-radius: 4em;
}

.title{
  width: 100%;
  text-align: center;
  padding: 2em;
  height: fit-content;
}

.subtitle{
  width: 100%;
  text-align: center;
  padding: 0;
}

.bio{
  padding: 2em;
  text-align: center;
  font-weight: 500;
  background-color: #1D2951;
  border-radius: 5em;
}
.bio-container{
  width: 50%;
  padding: 2em;
}
