<h2 class="section-title">Certifications</h2>
<div class="container">
  <img class="icon" alt="OCA" src="https://lh3.googleusercontent.com/XpnIPft-cy1TRxuUFDvu1usMrIAOiahG7ZMIMwI7o5duIDjRfJ9H-O_0dMcqphdael-Zg8l3GUQxMFGsau6DKlh0JJrr1t27oER0Vpo_BqVSXsStOapU_XsfPwv-Na3bFA1P5596_nR3OZAGBPe5GjHJpVluzDhKf6mrmEbsM8GUY-_-VNFKKu0w7UnheUHBr2YxgHJonMuoykqdAx6RZL5Yl3Lj4zKG8Y4Vr9cr3_u-bsMCvHfdY87FJ7oSRwh8E6gi22hvOrB_09gApJTcrOkm2VJJic6W3fEVGkOe5AbdoM_7zBDAnq5BA8vK1jn4GJbQUkVRCc67YM39rOpXm0SfEhDKa3ybVrcLE6tvYq8W_dtzNcb7KrJ9f2QXp6zNe-dmfGZ1ipoBjU5MidsYSOlrFvcHsoSLnWeuYAPxx2U32_5zie5tH158RwVP7FSBVWgk3tqUPztei8ageS0vyu9ljY9l9l02sVkeMGtwZmnr_5Sup3ilhbY8-SYfatqAZOxPfErBcwa_Xw4UYqXblT-QtuzDvt04bUnJ4JviovKlXMaYhbPqyENcr0awwHDluigXiPbB7T0fTajKUABY81C6JwWdOo9i39LQEY2CWoiOKOf9GWXjkY2OdxSFlgo30gIjefG4tPmvQjXxJEB0sYvMSH-22PU=s352-no">
  <h1 class="title">Certified Associate</h1>
  <h2 class="sub-title"> Java SE 8 Programmer</h2>
</div>
