<mat-toolbar class="metal-blue header">
  <button mat-button (click)="toggleSidenav.emit()" class="sidenav-toggle">
    <a href="https://github.com/pharms2011?tab=repositories">
      <img rel="icon" type="image/x-icon" src="./assets/github.png" href="" class="icon" alt="github"></a>
  </button>
  <button mat-button (click)="toggleSidenav.emit()" class="sidenav-toggle">
    <a href="https://www.linkedin.com/in/preston-harms-399017139/">
      <img rel="icon" type="image/x-icon" src="./assets/linkedin.png" href="" class="icon" alt="linkedIn"></a>
  </button>
  <button mat-button (click)="toggleSidenav.emit()" class="sidenav-toggle">
    <a href="https://www.instagram.com/pharms2011/">
      <img rel="icon" type="image/x-icon" src="./assets/instagram.png" href="" class="icon" alt="instagram"></a>
  </button>
  <button mat-button (click)="toggleSidenav.emit()" class="sidenav-toggle">
    <a href="https://www.facebook.com/preston.harms">
      <img rel="icon" type="image/x-icon" src="./assets/facebook.png" href="" class="icon" alt="facebook"></a>
  </button>
  <button mat-button (click)="toggleSidenav.emit()" class="sidenav-toggle">
    <a href="https://www.youtube.com/channel/UCn5FnpNZFMhmIAj2zkFOuqQ?view_as=subscriber">
      <img rel="icon" type="image/x-icon" src="./assets/youtube.png" href="" class="icon" alt="youtube"></a>
  </button>
  <button mat-button (click)="toggleSidenav.emit()" class="sidenav-toggle">
    <a href="mailto: prestonharms5@gmail.com">
      <img rel="icon" type="image/x-icon" src="./assets/gmail.png" href="" class="icon" alt="gmail"></a>
  </button>
</mat-toolbar>
