<mat-toolbar class="metal-blue header">
  <button mat-button (click)="toggleSidenav.emit()" class="sidenav-toggle">
    <a href="https://www.facebook.com/preston.harms">
      <img rel="icon" type="image/x-icon" src="../../../../../assets/github.png" href="" class="icon" alt="linkedIn"></a>
  </button>
  <button mat-button (click)="toggleSidenav.emit()" class="sidenav-toggle">
    <a href="https://www.facebook.com/preston.harms">
      <img rel="icon" type="image/x-icon" src="../../../../../assets/linkedin.png" href="" class="icon" alt="linkedIn"></a>
  </button>
  <button mat-button (click)="toggleSidenav.emit()" class="sidenav-toggle">
    <a href="https://www.facebook.com/preston.harms">
      <img rel="icon" type="image/x-icon" src="../../../../../assets/instagram.png" href="" class="icon" alt="linkedIn"></a>
  </button>
  <button mat-button (click)="toggleSidenav.emit()" class="sidenav-toggle">
    <a href="https://www.facebook.com/preston.harms">
      <img rel="icon" type="image/x-icon" src="../../../../../assets/facebook.png" href="" class="icon" alt="linkedIn"></a>
  </button>
  <button mat-button (click)="toggleSidenav.emit()" class="sidenav-toggle">
    <a href="https://www.facebook.com/preston.harms">
      <img rel="icon" type="image/x-icon" src="../../../../../assets/youtube.png" href="" class="icon" alt="linkedIn"></a>
  </button>
</mat-toolbar>
