/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

html,body{
  height: 100%;
}
*{
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

.red{
  color: white;
  background-color: maroon;
}

.commit-green{
  color: black;
  background-color: mediumspringgreen;
}

.space-blue{
  color: white;
  background-color: #1D2951;
}

.metal-blue{
  color: white;
  background-color: #1F282D;
}

.cyan{
  color: black;
  background-color: cyan;
}

.purple{
  color: white;
  background-color: rebeccapurple;
}

.section-title{
  width: 50%;
  font-size: 2em;
  font-weight: 500;
  padding: 1em;
}

div .mat-chip-list-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
}

.mat-chip.mat-standard-chip {
  background-color: mediumspringgreen;
  color: black;
  font-weight: 700;
}
