<div class="wrapper">
<h2 class="section-title">Work History</h2>
<mgl-timeline>
  <mgl-timeline-entry>
    <mgl-timeline-entry-header class="judge">
      Judge Group
      <p class="sub-title">Software Developer</p>
    </mgl-timeline-entry-header>
    <mgl-timeline-entry-content class="judge-content entry">
      <h3>Responsibilities</h3>
      <ul>
        <li>Developed internal use software</li>
        <li>Investigated current technologies for use in applications</li>
        <li>Conducted peer code reviews</li>
        <li>Participated in an Agile software development environment</li>
      </ul>
    </mgl-timeline-entry-content>
    <mgl-timeline-entry-side>April 2019 - Current</mgl-timeline-entry-side>
    <mgl-timeline-entry-dot></mgl-timeline-entry-dot>
  </mgl-timeline-entry>
  <mgl-timeline-entry>
    <mgl-timeline-entry-header class="infosys">
      Infosys
      <p class="sub-title">Software Developer</p>
    </mgl-timeline-entry-header>
    <mgl-timeline-entry-content class="infosys-content entry">
      <h3>Responsibilities</h3>
      <ul>
        <li>Developed production ready changes for in use software</li>
        <li>Coordinated with offshore team to deliver application elements approved by users</li>
        <li>Lead offshore team in nightly agile stand up meetings</li>
      </ul>
    </mgl-timeline-entry-content>
      <mgl-timeline-entry-side>May 2018 -April-2019</mgl-timeline-entry-side>
    <mgl-timeline-entry-dot></mgl-timeline-entry-dot>
</mgl-timeline-entry>
  <mgl-timeline-entry>
    <mgl-timeline-entry-header class="revature">
      Revature
      <p class="sub-title">Software Developer</p>
    </mgl-timeline-entry-header>
    <mgl-timeline-entry-content class="revature-content entry">
      <h3>Responsibilities</h3>
      <ul>
        <li>Completed 10 week boot-camp</li>
        <li>Created full stack applications utilizing the J2EE Stack</li>
        <li>Collaborated with other students to create production level applications</li>
        <li>Engaged in weekly mock interviews and code challenges</li>
      </ul>
    </mgl-timeline-entry-content>
    <mgl-timeline-entry-side>Jan 2018 - May 2018</mgl-timeline-entry-side>
  </mgl-timeline-entry>
  <mgl-timeline-entry>
    <mgl-timeline-entry-header class="strive"><span class="strive-first-half">
      Strive</span> Prep
      <p class="sub-title">Resident Teacher</p>
    </mgl-timeline-entry-header>
    <mgl-timeline-entry-content class="strive-content entry">
      <h3>Responsibilities</h3>
      <ul>
        <li>Balanced full time student teaching with Educational Masters courses</li>
        <li>Facilitated lessons to classes of 20-30 students</li>
        <li>Worked with co-teacher to modify lesson plans to match student needs</li>
      </ul>
    </mgl-timeline-entry-content>
    <mgl-timeline-entry-side>July 2017 - Jan 2018</mgl-timeline-entry-side>
  </mgl-timeline-entry>
  <mgl-timeline-entry>
    <mgl-timeline-entry-header class="chungdahm">
      CHUNGDAHM Learning
      <p class="sub-title">Native English Teacher</p>
    </mgl-timeline-entry-header>
    <mgl-timeline-entry-content class="chungdahm-content entry">
      <h3>Responsibilities</h3>
      <ul>
        <li>Facilitated english lessons to groups of 15-20 students</li>
        <li>Engaged in weekly teaching instructions</li>
        <li>Coordinated with Korean speaking co-teacher</li>
      </ul>
    </mgl-timeline-entry-content>
    <mgl-timeline-entry-side>July 2016 - Jan 2017</mgl-timeline-entry-side>
  </mgl-timeline-entry>
  <mgl-timeline-entry>
    <mgl-timeline-entry-header class="math-fellows">
      Denver Math Fellows
      <p class="sub-title">Math Fellow</p>
    </mgl-timeline-entry-header>
    <mgl-timeline-entry-content class="math-fellows-content entry">
      <h3>Responsibilities</h3>
      <ul>
        <li>Facilitated the lessons of small groups of students</li>
        <li>Modified lessons plans to suit students needs</li>
        <li>Engaged in data driven instruction to help lower scoring students</li>
      </ul>
    </mgl-timeline-entry-content>
    <mgl-timeline-entry-side>July 2015 - Aug 2016</mgl-timeline-entry-side>
  </mgl-timeline-entry>
</mgl-timeline>
</div>
