<div class="wrapper">
<h2 class="section-title">Work History</h2>
<mgl-timeline>
  <mgl-timeline-entry>
    <mgl-timeline-entry-header class="judge">
      Judge Group
      <p class="sub-title">Software Developer</p>
    </mgl-timeline-entry-header>
    <mgl-timeline-entry-content class="judge-content entry">
      Responsibilities
      <ul>
        <li>Developed internal use software</li>
      </ul>
    </mgl-timeline-entry-content>
    <mgl-timeline-entry-side>April 2019 - Current</mgl-timeline-entry-side>
    <mgl-timeline-entry-dot></mgl-timeline-entry-dot>
  </mgl-timeline-entry>
  <mgl-timeline-entry>
    <mgl-timeline-entry-header class="infosys">
      Infosys
      <p class="sub-title">Software Developer</p>
    </mgl-timeline-entry-header>
    <mgl-timeline-entry-content class="infosys-content entry">
      Responsibilities
      <ul>
        <li>Developed internal use software</li>
      </ul>
    </mgl-timeline-entry-content>
      <mgl-timeline-entry-side>May 2018 -April-2019</mgl-timeline-entry-side>
    <mgl-timeline-entry-dot></mgl-timeline-entry-dot>
</mgl-timeline-entry>
  <mgl-timeline-entry>
    <mgl-timeline-entry-header class="revature">
      Revature
      <p class="sub-title">Software Developer</p>
    </mgl-timeline-entry-header>
    <mgl-timeline-entry-content class="revature-content entry">
      Responsibilities
      <ul>
        <li>Developed internal use software</li>
      </ul>
    </mgl-timeline-entry-content>
    <mgl-timeline-entry-side>Jan 2018 - May 2018</mgl-timeline-entry-side>
  </mgl-timeline-entry>
  <mgl-timeline-entry>
    <mgl-timeline-entry-header class="strive"><span class="strive-first-half">
      Strive</span> Prep
      <p class="sub-title">Resident Teacher</p>
    </mgl-timeline-entry-header>
    <mgl-timeline-entry-content class="strive-content entry">
      Responsibilities
      <ul>
        <li>Developed internal use software</li>
      </ul>
    </mgl-timeline-entry-content>
    <mgl-timeline-entry-side>July 2017 - Jan 2018</mgl-timeline-entry-side>
  </mgl-timeline-entry>
  <mgl-timeline-entry>
    <mgl-timeline-entry-header class="chungdahm">
      CHUNGDAHM Learning
      <p class="sub-title">Native English Teacher</p>
    </mgl-timeline-entry-header>
    <mgl-timeline-entry-content class="chungdahm-content entry">
      Responsibilities
      <ul>
        <li>Developed internal use software</li>
      </ul>
    </mgl-timeline-entry-content>
    <mgl-timeline-entry-side>July 2017 - Jan 2018</mgl-timeline-entry-side>
  </mgl-timeline-entry>
</mgl-timeline>
</div>
